/* base schema */
@layer base {
  :root {
    /* color-schema */
    --primary: var(--color-violet-600);
    --primary-foreground: var(--color-zinc-100);
    --background: var(--color-zinc-100);
    --background-light: var(--color-zinc-50);
    --foreground: var(--color-zinc-800);
    --muted: var(--color-zinc-200);
    --muted-foreground: var(--color-zinc-500);
    --border: var(--color-zinc-300);

    --warning: var(--color-orange-300);
    --info: var(--color-cyan-400);
    --success: var(--color-gray-400);
    --danger: var(--color-red-400);
  }
}

/* implementation */
@theme {
  /* primary-color */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);

  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-danger: var(--danger);
}
