@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@import "./_colors";
@import "./_base";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-txt-primary);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
