@import "tailwindcss";

@import "./_colors";
@import "./_base";

@theme {
  --font-inter: var(--font-inter);
  --font-sora: var(--font-sora);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
